<h1>Login</h1>
<form action="/sessions" method="post">
  <label for="email"></label>
  <input type="email" name="email" placeholder="Email">
  <label for="password"></label>
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign in">
</form>

<a href="/users/recover">Reset Password</a>
