<h1>Signup</h1>
<form action="/users" method="post">
  <label for="email"></label>
  <input type="email" placeholder="Email" name="email" value="<%= @user.email %>" required>
  <label for="password"></label>
  <input type="password" name="password" placeholder="Password">
  <label for="password_confirmation"></label>
  <input type="password" name="password_confirmation" placeholder="Confirm password">
  <input type="submit" value="Signup">
</form>
