<h2>Please enter your new password</h2>
<form action="/users" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="new_password">New password</label>
  <input type="password" name="new_password">
  <label for="new_password_confirmation">New password confirmation</label>
  <input type="password" name="new_password_confirmation">
  <input type="submit" value="Submit">
</form>
