<h2>Links</h2>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tag: <% link.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="/links/new">Add Link</a>

<a href="/sessions/new">Sign in</a>
