<footer>
  <div id="makersacademylogo">
    <a href="http:www.makersacademy.com">
      <img src="http://assets.makersacademy.com/images/logo/ma-wordmark-red.png">
    </a>
  </div>
  <div id="technologies">
    <p>
      I built this page at
      <a href="http://www.makersacademy.com">Makers Academy</a> Makers Academy.
    </p>
    <p>
      This website is built using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.
    </p>
  </div>
</footer>
